@{
    ViewData["Title"] = "Task Complete";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1">
        <p>Thank you for completing the experiment! You can now exit full screen and stop sharing your screen.</p>
        <p><strong>Please let the experimenter know that you're done</strong></p>
    </div>
</div>