@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center">
    <h1 class="display-4">LTE Lab Veterans Study</h1>
</div>
