@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron d-flex align-items-center" style="background-color: #ffffff; height: 75vh;">
  <div class="container text-center">
     <h1 class="display-4">LTE Lab Veterans Study</h1>
  </div>
</div>
