@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
}

#ajaxProgressBar {
   
}


/* Grid styles
-------------------------------------------------- */
ul.pagination-buttons {
    list-style: none;
    padding: 0
}

    ul.pagination-buttons li {
        display: inline;
    }
    
        ul.pagination-buttons li button {
            margin-right: 10px;
            width: 43px;
        }

.actionRow {
    width: 250px;
}
    .actionRow button, .actionRow a {
        width: 85px
    }
    
    .actionRow a.copyBtn {
        width: 40px;
        color: #ffffff;
        float: right;
    }
    
.series-input {
    text-align: center;
    letter-spacing: 5px;
    width: 130px;
}


/* EFT Styles
 -------------------------------------------------- */
.eftBody {
    background-color: #000;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.eftSeries {
    color: #fff;
    letter-spacing: 15px;
    font-size: 60px;
}

.eftFormLabel {
    font-size: 24px;
    color: #fff;
    padding: 0 15px 0 0;
    text-align: right;
}

.centerButton {
    margin: 0 auto;
    display: block;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.color-success {
    color: rgba(40,167,69,.9)
}

/* Select 2 Overrides
 -------------------------------------------------- */
.select2-container .select2-selection--single {
    height: 38px;
    padding: 3px 8px;
    border: 1px solid #ced4da;
}
