@using AssessmentEngine.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tasks
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-area="Tasks" asp-action="Create" asp-controller="TaskVersion">New Task Version</a>
        <a class="dropdown-item" asp-area="Tasks" asp-action="Index" asp-controller="TaskVersion">Task Versions</a>
        <a class="dropdown-item" asp-area="Tasks" asp-action="DownloadResults" asp-controller="TaskVersion">Download Results</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Participants
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="dropdown-item" asp-area="Identity" asp-controller="Participant" asp-action="Manage">Manage</a>
    </div>
</li>
<li class="nav-item">
    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
</li>