@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        await Html.RenderPartialAsync("_Header");
    }
    @await RenderSectionAsync("HeaderScripts", required: false)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="~/">LTE Lab</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
            </div>
        </div>
    </nav>
    <div class="progress progress-striped active" style="display: none" id="ajaxProgressBar">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="footer border-top text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - LTE Lab
    </div>
</footer>
@{
    await Html.RenderPartialAsync("_Footer");
}

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>