@using AssessmentEngine.Domain.Entities

@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User) && User.IsInRole(ApplicationRoles.Administrator))
{
    await Html.RenderPartialAsync("_AdminNav");
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
