@model IEnumerable<AssessmentVersionDTO>

@{
    ViewData["Title"] = "Task Versions";
}

<h1 class="page-title">@ViewData["Title"]</h1>

@await Html.PartialAsync("_Loading")

<div class="row" style="display:none" id="viewContainer">
    <div class="col-lg-12">
        <div class="form-group row" id="blockTypeContainer">
            <table class="table manageParticipantTable" id="grid">
                <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Task Type</th>
                    <th scope="col">Task Version</th>
                    <th scope="col">Participant Id</th>
                    <th scope="col">Created Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr v-for="version in versions" class="text-center">
                    <td>{{ version.assessmentType.name }}</td>
                    <td>{{ version.versionName }}</td>
                    <td>{{ version.participantId }}</td>
                    <td>{{ version.createdDate }}</td>
                    <td class="actionRow">
                        <a v-bind:href="'/Tasks/TaskVersion/Edit/' + version.id" 
                           v-if="version.allowEdit"
                           type="button" class="btn btn-light">
                            Edit
                        </a>
                        <button type="button" class="btn btn-danger" 
                               v-if="version.allowEdit"
                               v-on:click="confirmDelete(version.id)">
                            Delete
                        </button>
                        @* <a role="button" class="btn btn-primary copyBtn" data-toggle="tooltip" data-placement="right" title="Copy participant link" *@
                        @*    v-on:click="copyLink(version.id)"> *@
                        @*     <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> *@
                        @*         <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/> *@
                        @*         <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/> *@
                        @*     </svg> *@
                        @* </a> *@
                        <a v-bind:href="version.participantUrl" target="_blank" role="button" class="btn btn-primary copyBtn" data-toggle="tooltip" data-placement="right">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                              <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5A.5.5 0 0 0 4 8z"/>
                            </svg>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ConfirmationModal")

@section Scripts
{
    <script>
        const viewModel = @Html.Raw(Json.Serialize(Model)); 
        const editView = new TaskVersionsView(viewModel);
    </script>
}