@page
@model ManageParticipantModel

<table  class="table">
    <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Role</th>
          <th scope="col">Last Login Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
    @foreach (var user in Model.UserList)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.RoleName</td>
            <td>@user.LastLoginDate?.ToString("G")</td>
            <td><a href="#">Disable</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
    }
</table>